[Desktop Entry]
Name=funds
Exec=qmlscene $@ Main.qml
Icon=funds.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
X-Ubuntu-Splash-Image=sirsplashy.png
X-Ubuntu-Splash-Color=#FFFFFF


